* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  overflow: hidden;
}

.section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__paragraf {
    width: 75%;
    margin: 15px auto;
    text-align: justify;
  }
}

.aside-navigation {
  position: fixed;
  right: 30px;
  top: 40%;
  transform: translate(0, -50%);

  &__list-items {
    list-style: none;
    display: flex;
    flex-direction: column;
    height: 120px;
    justify-content: space-evenly;
  }

  &__item {
    width: 10px;
    height: 10px;
    background-color: gray;
    border-radius: 50%;
    opacity: 0.5;
    transition: 0.5s;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }
}